<div class="container-fluid">
    <form [formGroup]="movieForm" autocomplete="off" novalidate (ngSubmit)="createMovie(movieForm.value)">
      <div class="card card-body bg-light mb-2 mt-2">
   
        <div class="row mb-3">
          <label for="name" class="col-form-label col-md-2">Movie Name: </label>
          <div class="col-md-5">
            <input type="text" formControlName="name" id="name" class="form-control" />
          </div>
          <div class="col-md-5">
            <em *ngIf="validateControl('name') 
            && hasError('name', 'required')">Name is required</em>
            <em *ngIf="validateControl('name') 
            && hasError('name', 'maxlength')">Maximum allowed length is 60 characters.</em>
          </div>
        </div>
   
        <div class="mb-3 row">
          <label for="releaseDate" class="col-form-label col-md-2">Release Date: </label>
          <div class="col-md-5">
            <input type="text" formControlName="releaseDate" id="releaseDate" 
            class="form-control" readonly bsDatepicker/>
          </div>
        </div>
     
        <br><br>
   
        <div class="mb-3 row">
            <div class="offset-5 col-md-1">
                <button type="submit" class="btn btn-info" [disabled]="!movieForm.valid">Save</button>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-danger" (click)="redirectToMovieList()">Cancel</button>
            </div>
        </div>
        
      </div>
    </form>
  </div>